{% extends "AppBook/padre.html" %}
{% load static %}


{% block title %}
    Sobre nosotros
{% endblock title %}


{% block titulo %}
<h1 class="masthead-heading mb-0">Sobre nosotros</h1>
<h2 class="masthead-subheading mb-0" style="color:#ee0979;"> # Cont&aacute;ctanos</h2>
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>
{% endblock titulo %}



{% block cambia %}

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle"
                    src="{% static 'AppBook/assets/img/03.jpg' %}" alt="..." />
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Sobre nosotros</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, nulla corporis nemo vero dolorum similique accusantium, facilis ab itaque ullam nobis in iusto. Deserunt veritatis corporis soluta ut, labore assumenda!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock cambia %}